name: Publish Gem

on:
  release:
    types: [published]

jobs:
  build-gem:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Build Gem
        id: build
        run: |
          gem build *.gemspec
          echo "::set-output name=gem_file::$(ls *.gem)"

      - name: Upload Gem as Artifact
        uses: actions/upload-artifact@v6
        with:
          name: built-gem
          path: ${{ steps.build.outputs.gem_file }}

  publish-to-github:
    runs-on: ubuntu-latest
    needs: build-gem
    environment: production
    permissions:
      packages: write
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Download Gem artifact
        uses: actions/download-artifact@v6
        with:
          name: built-gem

      - name: Set up GitHub credentials
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: |
          mkdir -p $HOME/.gem
          echo "---" > $HOME/.gem/credentials
          echo ":github: Bearer $GITHUB_TOKEN" >> $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials

      - name: Push Gem to GitHub Packages
        run: |
          gem push *.gem --key github --host "https://rubygems.pkg.github.com/$GITHUB_REPOSITORY_OWNER"

      - name: Clean up GitHub credentials
        run: |
          rm $HOME/.gem/credentials

  publish-to-rubygems:
    runs-on: ubuntu-latest
    needs: build-gem
    environment: production
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Download Gem artifact
        uses: actions/download-artifact@v6
        with:
          name: built-gem

      - name: Set up RubyGems credentials
        env:
          API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: |
          mkdir -p $HOME/.gem
          echo "---" > $HOME/.gem/credentials
          echo ":rubygems_api_key: $API_KEY" >> $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials

      - name: Push Gem to RubyGems
        run: |
          gem push *.gem

      - name: Clean up RubyGems credentials
        run: |
          rm $HOME/.gem/credentials
